
#wb_header { background: transparent none no-repeat scroll center bottom; height: 246px; }
#wb_main { background: transparent none repeat scroll left top; height: 420px; padding-bottom: 200px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 1581px; }
body { background: #000000 url("../gallery_gen/46900553357a0602af2699386701d5b0.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 2247px; }
.root { width: 320px; height: 2247px; overflow: hidden; min-height: 2247px; }
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 15.5px; background-color: #363536; border-color: #ffffff; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover { background-color: #16aa9e; border-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 { left: 145px; top: 200px; min-width: 160px; width: 160px; min-height: 24px; height: 24px; display: block; z-index: 318; }
#wb_element_instance0 ul { background: #363536 none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded > ul > li > ul { position: static; padding-left: 15px; }
#wb_element_instance0.collapse-expanded > ul > li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: left; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 18px 20px 18px 20px; font: normal normal 20px 'PT Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: transparent none repeat scroll right top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 20px 'PT Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none no-repeat scroll left top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 20px 'PT Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #16aa9e none repeat scroll left top; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance1 { left: 20px; top: 190px; min-width: 120px; width: 120px; min-height: 48px; height: 48px; display: block; z-index: 206; }
#wb_element_instance2 { left: 50px; top: 10px; min-width: 200px; width: 200px; min-height: 160px; height: 160px; display: block; z-index: 326; }
#wb_element_instance2 img { width: 200px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance3 { left: 10px; top: 0px; min-width: 130px; width: 130px; min-height: 36px; height: 36px; display: block; z-index: 331; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance4 { left: 0px; top: 80px; min-width: 310px; width: 310px; min-height: 134px; height: 134px; display: block; z-index: 251; }
#wb_element_instance5 { left: 0px; top: 80px; min-width: 320px; width: 320px; min-height: 140px; height: 140px; display: block; z-index: 146; }
#wb_element_instance5 > div.wb_shp { background: #16aa9e; border: 5px none #C0C0C0; opacity: 0.8; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; width: 320px; height: 140px; }
#wb_element_instance6 { left: 0px; top: 290px; display: block; z-index: 9000; }
#wb_element_instance7 { left: 0px; top: 51px; display: block; z-index: 9999; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
	#wb_header { height: 246px; }
	#wb_main { height: 470px; }
	#wb_footer { height: 40px; }
	body, .wb_sbg { min-width: 992px; min-height: 756px; }
	.root { width: 992px; height: 756px; overflow: visible; min-height: 756px; }
	#wb_element_instance0 { left: 0px; top: 170px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 150px; top: 60px; min-width: 210px; width: 210px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance2 { left: 0px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance2 img { width: 140px; height: 140px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 20px; top: 7px; min-width: 481px; width: 481px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 220px; top: 80px; min-width: 510px; width: 510px; min-height: 175px; height: 175px; display: block; }
	#wb_element_instance5 { left: 210px; top: 70px; min-width: 530px; width: 530px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance5 > div.wb_shp { width: 530px; height: 200px; }
	#wb_element_instance6 { left: 0px; top: 290px; display: block; }
	#wb_element_instance7 { left: 0px; top: 51px; display: block; }
}

@media (min-width: 1200px) {
}
